<div class="row header_title justify-content-center">
    <blockquote class="blockquote text-center">
        <h1>Expert Advice 💁</h1>
        <footer class="blockquote-footer">Get Answers to <cite title="Source Title">Difficult</cite>
            Questions ✔️</footer>
    </blockquote>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <label for="tagsfilter"><strong>Show questions tagged with</strong></label>
        <div class="w-75 d-inline-flex">
            {{input value=tags type="text" class="form-control" id="tagsfilter"
            placeholder="Tags(seperated by comma)"}}
        </div>
    </div>
    <div class="col-md-4 centered_button">
        {{#link-to 'questions.new'}}
        <button type="submit" class="btn btn-primary active ask_question_btn">ASK A QUESTION</button>
        {{/link-to}}
    </div>
</div>
<div class="spacer-50"></div>
{{#each model as |question|}}
<div class="row">
    <div class="col-md-4">
        <div class="row spacer-50"></div>
        <div class="row date_row">
            <div class="date_icon">{{md-icon "date_range"}}</div>
            <div class="date_text text-muted">{{question.publishedDate}}</div>
        </div>
        <div class="row time_row">
            <div class="time_icon">{{md-icon "schedule"}}</div>
            <div class="time_text text-muted">{{question.publishedTime}}</div>
        </div>
    </div>
    <div class="col-md-6">
        {{#link-to 'questions.show' question}}
        <div class="card question_card" style="cursor:pointer;">
            <div class="card-body">
                <h5 class="card-title">{{question.title}}</h5>
                <p class="card-text cutted_text">{{question.description}}</p>
                <div class="tag_row">
                    {{#each question.tag_list as |tag|}}
                    <span class="badge badge-secondary tag_text">{{tag}}</span>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/link-to}}
    </div>
    <div class="col-md-2"></div>
</div>
{{/each}}

{{#if filtersNotApplied}}
<div class="row justify-content-center">
    <div class="pagination-centered">
        <ul class="pagination">
            <li class="arrow page-item"><a class="page-link" href="" {{action "prevPage" }}> Previous
                </a></li>
            {{#if lastThreePages}}

            <li class="unavailable page-item">
                <a href="" class="page-link">&hellip;</a>
            </li>
            <li class='page-item'>
                {{#link-to "questions" (query-params page=metaData.prev_page) class='page-link'}}
                {{metaData.prev_page}}
                {{/link-to}}
            </li>
            <li class="active page-item">
                {{#link-to "questions" (query-params page=metaData.current_page) class='page-link'}}
                {{metaData.current_page}}
                {{/link-to}}
            </li>
            <li class='page-item'>
                {{#link-to "questions" (query-params page=metaData.next_page) class='page-link'}}
                {{metaData.next_page}}
                {{/link-to}}
            </li>

            {{else}}

            {{#if metaData.prev_page}}
            <li class='page-item'>
                {{#link-to "questions" (query-params page=metaData.prev_page) class='page-link'}}
                {{metaData.prev_page}}
                {{/link-to}}
            </li>
            {{/if}}

            <li class="active page-item">
                {{#link-to "questions" (query-params page=metaData.current_page) class='page-link'}}
                {{metaData.current_page}}
                {{/link-to}}
            </li>

            {{#if metaData.next_page}}
            <li class='page-item'>
                {{#link-to "questions" (query-params page=metaData.next_page) class='page-link'}}
                {{metaData.next_page}}
                {{/link-to}}
            </li>
            <li class="unavailable page-item">
                <a href="" class="page-link">&hellip;</a>
            </li>
            <li class='page-item'>
                {{#link-to "questions" (query-params page=metaData.third_last) class='page-link'}}
                {{metaData.third_last}}
                {{/link-to}}
            </li>
            <li class='page-item'>
                {{#link-to "questions" (query-params page=metaData.second_last) class='page-link'}}
                {{metaData.second_last}}
                {{/link-to}}
            </li>
            <li class='page-item'>
                {{#link-to "questions" (query-params page=metaData.total_pages)}}
                {{metaData.total_pages}}
                {{/link-to}}
            </li>
            {{/if}}


            {{/if}}


            <li class="arrow page-item"><a class="page-link" href="" {{action "nextPage" }}> Next </a>
            </li>
        </ul>
    </div>
</div>
{{/if}}

{{outlet}}